<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/prism.css">
  <meta name="generator" content="funcsmith">
</head>
<body>
  <div class="container">

    <header>
      <nav>
        {{ siteName }} |
        <a href="/">Home</a> |
        <a href="/about">About</a>
      </nav>
      <h1>{{ title }}<time class="float-right">{{ formattedDate date }}</time></h1>
    </header>

    <nav>
    {{#if collection.previous}}
      <span> &lt; </span><a href="{{collection.previous.link}}">{{collection.previous.title}}</a>
    {{/if}}
    <span class="sep">|</span>
    {{#if collection.next}}
      <a href="{{collection.next.link}}">{{collection.next.title}}</a><span> &gt; </span>
    {{/if}}
    </nav>

    <main>
      {{{ contents }}}
    </main>

    {{> footer.hbs }}
  </div>

  <script src="/scripts/prism.js"></script>
</body>
</html>
