<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <title>{{ siteName }} &mdash; {{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/prism.css">
  <meta name="generator" content="funcsmith">
</head>
<body>
  <div class="container">
    <div id="ucl">
      <img src="/images/uc-strip-left.png" alt="Under Construction" title="Under Construction">
    </div>

    <header>
      <nav>
        {{ siteName }} |
        <a href="/">Home</a> |
        <a href="/about">About</a>
      </nav>
      <h1>{{ title }}</h1>
    </header>

    <main>
      {{{ contents }}}
      <ul>
      {{#each collections.posts.items}}
        <li>
          <a href="{{ link }}">{{ title }}</a>
        </li>
      {{/each}}
      </ul>
    </main>

    {{> footer.hbs }}
  </div>

  <script src="/scripts/prism.js"></script>
</body>
</html>
